					/* Сочетание float и padding */


/* Давайте опять поставим картинку над абзацами, оставив им при этом левый padding. В этом случае padding отодвинет только тот текст, который прилегает слева к диву-родителю, а не к нашей картинке: */

/* А теперь положим картинку в первый абзац - она будет двигаться вправо вместе с текстом абзацев: */

div {
	width: 400px;
	border: 1px solid red;
	text-align: justify;
}
p {
	/* margin-left: 30px; Интересный эффект получится, если добавить еще и margin абзацам - сами абзацы отодвинутся от левого края дива-родителя, при этом текст в них по-прежнему будет отодвинут от правого края картинки, так как ей задан margin-right*/
	/* margin-left: 30px;
	padding-left: 30px; */
	border: 1px solid green;
}
img {
	width: 200px;
	float: left;
	opacity: 0.5;
	/* margin-right: 30px; добавим правый margin - в этом случае текст действительно отодвинется от правого края картинки: */
}