.parent{
	padding: 20px; 
	/* устанавливает внутренние отступы со всех сторон элемента */
	border: 1px solid black;
}

.elem{
	float: right; 
	/* CSS-свойство float указывает, что текущий элемент должен быть изъят из обычного flow (потока) и прижат к левой или правой стороне родительского элемента. */
    width: 100px;
    height: 50px;
    margin: 0 10px; 
	 /* устанавливает внешний отступ на всех четырех сторонах элемента */
    text-align: center;
    border: 1px solid green;
}

.clearfix{
	clear: both;  
	/* означает, что элемент, к котрому бедт применено это свойство будет перенесен вниз под все плавающие блоки в текущем потоке */
}

