/* 					Введение в свойство float
Пусть у нас есть див с каким-то длинным текстом. Давайте вставим в начало этого текста картинку: */

div{
	width: 500px;
	text-align: justify;
}

/* картинка плавает слева */
img{
	float: left;
	width: 100px;
}

/* картинка плавает справа */
.img1{
	float: right;
	width: 100px;
}